.idea/libraries/*
.idea
*/target/**
log/*
megvii-uploadfiles/*
megvii-uploadfile*
/video/*
*.iml
*/*.iml
*.DS_Store

.project
.settings
*/.classpath
*/.project
*/.settings
*/.factorypath

facecompare/src/main/resources/application.properties

/target/
/.classpath
